Repository rxap-mirror/packages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test

.gitlab-ci.yml:

image: node:lts

include:
- project: 'rxap/gitlab-ci'
  ref: stable
  file: '/templates/setup.yml'
- project: 'rxap/gitlab-ci'
  ref: stable
  file: '/pwa.yml'

variables:
  GIT_DEPTH: "3"
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: none

.cache:pull: &cache_pull
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull

stages:
- setup
- build
- test
- deploy
- e2e
- postdeploy
- generate
- trigger

generate:storybook:config:
  before_script:
  - rm .npmrc
  - npm install handlebars
  script: node tools/gitlab-ci-generator/storybook.js
  stage: generate
  needs: []
  artifacts:
    paths:
    - .storybook.gitlab-ci.yml
    expire_in: 1h
  rules:
  - if: '$DISABLE_LIBRARY_STORYBOOK'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always

trigger:build:storybook:
  stage: trigger
  needs:
  - generate:storybook:config
  rules:
  - if: '$DISABLE_LIBRARY_STORYBOOK'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always
  trigger:
    include:
    - artifact: .storybook.gitlab-ci.yml
      job: generate:storybook:config

generate:compodoc:config:
  before_script:
  - rm .npmrc
  - npm install handlebars
  script: node tools/gitlab-ci-generator/compodoc.js
  stage: generate
  needs: []
  artifacts:
    paths:
    - .compodoc.gitlab-ci.yml
    expire_in: 1h
  rules:
  - if: '$DISABLE_LIBRARY_COMPODOC'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always

trigger:build:compodoc:
  stage: trigger
  needs:
  - generate:compodoc:config
  rules:
  - if: '$DISABLE_LIBRARY_COMPODOC'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always
  trigger:
    include:
    - artifact: .compodoc.gitlab-ci.yml
      job: generate:compodoc:config

build:
  <<: *cache_pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-build
  stage: build
  script: yarn nx run-many --target=pack --all --parallel --with-deps
  rules:
  - changes:
    - libs/**/src/**
    when: on_success
  artifacts:
    expire_in: 1 day
    paths:
    - dist

test:
  <<: *cache_pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-test
  stage: test
  coverage: '/Statements\s*:\s*(\d+\.?\d*)%/'
  script: yarn test:ci
  rules:
  - changes:
    - "**/*.ts"
    when: on_success
  artifacts:
    expire_in: 1 day
    reports:
      cobertura: coverage/cobertura-coverage.xml
      junit: junit.xml
    paths:
    - coverage

#setup:generate:library:config:
#  before_script:
#  - rm .npmrc
#  - npm install handlebars @nrwl/workspace typescript @nrwl/cli
#  - yarn yarn nx print-affected
#  script: node tools/gitlab-ci-generator/library.js
#  stage: setup
#  needs: []
#  artifacts:
#    paths:
#    - .library.gitlab-ci.yml
#    expire_in: 1h
#  rules:
#  - if: '$DISABLE_LIBRARY'
#    when: never
#  - if: '$CI_COMMIT_REF_NAME == "master"'
#    changes:
#    - libs/**/*
#    when: always
#
#trigger:build:library:
#  stage: trigger
#  needs:
#  - setup:generate:library:config
#  rules:
#  - if: '$DISABLE_LIBRARY'
#    when: never
#  - if: '$CI_COMMIT_REF_NAME == "master"'
#    changes:
#    - libs/**/*
#    when: always
#  trigger:
#    include:
#    - artifact: .library.gitlab-ci.yml
#      job: setup:generate:library:config

fix: create viewer if from viewer object ref
  libs/data-source/CHANGELOG
  libs/data-source/package.json
  libs/data-source/src/lib/base.data-source.ts
Due: test

fix: add support for additional params
  libs/utilities/CHANGELOG
  libs/utilities/package.json
  libs/utilities/src/lib/method.ts
Due: test

fix: reset submit logic support
  libs/form-window-system/CHANGELOG
  libs/form-window-system/package.json
  libs/form-window-system/src/lib/form-window.service.ts
  libs/form-window-system/src/lib/open-form-window.method.ts
Due: test

fix: reset submit logic support
  libs/form-window-system/package.json
Due: none

fix: add support for additional params
  libs/utilities/package.json
Due: none

fix: use simple prefix
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/card.element.ts
  libs/material/form-system/schematics/generate/elements/controls/checkbox-control.element.ts
  libs/material/form-system/schematics/generate/elements/controls/component-control.element.ts
  libs/material/form-system/schematics/generate/elements/controls/form-field/form-field.element.ts
  libs/material/form-system/schematics/generate/elements/controls/form-field/input-control.element.ts
  libs/material/form-system/schematics/generate/elements/controls/form-field/textarea-control.element.ts
  libs/material/form-system/schematics/generate/elements/features/window-title.element.ts
Due: test

fix: add support for static array
  libs/data-source/CHANGELOG
  libs/data-source/package.json
  libs/data-source/pagination/directives/src/lib/to-pagination.pipe.ts
Due: test

fix(Confirm): enforce button type
  libs/components/CHANGELOG
  libs/components/package.json
  libs/components/src/lib/confirm/confirm.component.html
Due: none

fix: add support for form title
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/features/footer-controls.element.ts
  libs/material/form-system/schematics/generate/elements/form.element.ts
Due: test

fix: add support for form title
  libs/material/table-system/CHANGELOG
  libs/material/table-system/package.json
  libs/material/table-system/schematics/generate/elements/features/window-form.element.ts
Due: test

fix: add support for form title
  libs/material/table-system/package.json
Due: none

fix: add support for form title
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/features/footer-controls.element.ts
  libs/material/form-system/schematics/generate/elements/features/window-footer-controls.element.ts
Due: test

fix: fix attribute management
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/controls/features/control-feature.element.ts
  libs/material/form-system/schematics/generate/elements/controls/features/directive.element.ts
  libs/material/form-system/schematics/generate/elements/controls/features/features.ts
  libs/material/form-system/schematics/generate/elements/controls/form-field/form-field.element.ts
  libs/material/form-system/schematics/generate/elements/controls/form-field/input-control.element.ts
  libs/material/form-system/schematics/generate/elements/controls/form-field/select-control.element.ts
  libs/material/form-system/schematics/generate/elements/controls/form-field/textarea-control.element.ts
  libs/material/form-system/schematics/generate/elements/controls/password-control.element.ts
Due: test

fix: fix viewer is issue
  libs/data-source/CHANGELOG
  libs/data-source/directive/src/lib/data-source.directive.ts
  libs/data-source/package.json
Due: test

fix: extend initial tracking
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/src/lib/form-builder.ts
  libs/forms/src/lib/types.ts
Due: test

fix: fix column filter height
  libs/material/form-system/src/lib/input-clear-button.directive.ts
  libs/material/table-system/CHANGELOG
  libs/material/table-system/package.json
  libs/material/table-system/schematics/generate/elements/columns/column.element.ts
  libs/material/table-system/schematics/generate/elements/columns/date-column.element.ts
Due: test

fix: disable tabindex
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
Due: none

fix: add is number validator support
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/schematics/generate/elements/input-control.element.ts
  libs/forms/schematics/generate/elements/validators/is-number.element.ts
  libs/forms/schematics/generate/elements/validators/validators.ts
  libs/forms/src/index.ts
  libs/forms/src/lib/validators/is-number.ts
Due: build, test

feat: add support for custom table and form support
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/controls/component-control.element.ts
  libs/material/form-system/schematics/generate/elements/controls/features/features.ts
  libs/material/form-system/schematics/generate/elements/controls/features/form.element.ts
  libs/material/form-system/schematics/generate/elements/controls/features/table.element.ts
Due: test

feat: type support
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/schematics/generate/elements/checkbox-control.element.ts
  libs/forms/schematics/generate/elements/control.element.ts
  libs/forms/schematics/generate/elements/input-control.element.ts
  libs/forms/schematics/generate/elements/select-control.element.ts
Due: test
