Repository rxap-mirror/packages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test

build:
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-build
  stage: build
  script: yarn nx run-many --target=pack --all --parallel --with-deps
  artifacts:
    expire_in: 1 day
    paths:
    - dist

test:
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-test
  stage: test
  coverage: /Statements\s*:\s*(\d+\.?\d*)%/
  script: yarn test:ci
  artifacts:
    expire_in: 1 day
    reports:
  ...

chore: update schematics
  package.json
  yarn.lock
Due: none

docs: update readme
  README.md
Due: none

wip: form window directive
  libs/form-window-system/src/lib/close-window-after-submit.directive.ts
  libs/form-window-system/src/lib/form-window.module.ts
Due: test

feat: remove angular dependency
  libs/xml-parser/CHANGELOG
  libs/xml-parser/decorators/src/lib/element-attribute.ts
  libs/xml-parser/decorators/src/lib/element-child-text-content.ts
  libs/xml-parser/decorators/src/lib/element-child.ts
  libs/xml-parser/decorators/src/lib/element-children.spec.ts
  libs/xml-parser/decorators/src/lib/element-children.ts
  libs/xml-parser/decorators/src/lib/element-def.integration.spec.ts
  libs/xml-parser/decorators/src/lib/element-text-content.ts
  libs/xml-parser/decorators/src/lib/mixins/child-element-parser.mixin.spec.ts
  libs/xml-parser/decorators/src/lib/mixins/required-element.parser.mixin.integration.spec.ts
  libs/xml-parser/decorators/src/lib/utilities.ts
  libs/xml-parser/elements/src/lib/data-source.element.spec.ts
  libs/xml-parser/elements/src/lib/icon.element.spec.ts
  libs/xml-parser/elements/src/lib/icon.element.ts
  libs/xml-parser/elements/src/lib/option.element.spec.ts
  libs/xml-parser/elements/src/lib/option.element.ts
  libs/xml-parser/package.json
  libs/xml-parser/src/index.ts
  libs/xml-parser/src/lib/decorators/element-extends.ts
  libs/xml-parser/src/lib/definition.xml-parser.loader.ts
  libs/xml-parser/src/lib/elements/definition.element.ts
  libs/xml-parser/src/lib/elements/parsed-element.ts
  libs/xml-parser/src/lib/parser.module.spec.ts
  libs/xml-parser/src/lib/parser.module.ts
  libs/xml-parser/src/lib/xml-file.loader.ts
  libs/xml-parser/src/lib/xml-parser.service.spec.ts
  libs/xml-parser/src/lib/xml-parser.service.ts
  libs/xml-parser/testing/src/lib/testing-xml-parser-service.ts
  package.json
  yarn.lock
Due: build, test

fix: add support for multi child elements
  libs/xml-parser/decorators/src/lib/element-children.ts
  libs/xml-parser/decorators/src/lib/utilities.ts
  libs/xml-parser/src/lib/xml-parser.service.spec.ts
Due: test

feat: add ToOptions function
  libs/utilities/CHANGELOG
  libs/utilities/package.json
  libs/utilities/src/index.ts
  libs/utilities/src/lib/options/to-options-with-object.ts
  libs/utilities/src/lib/options/to-options.ts
Due: build, test

feat: add new form generator
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/schematics/collection.json
  libs/forms/schematics/generate/elements/checkbox-control.element.ts
  libs/forms/schematics/generate/elements/control.element.spec.ts
  libs/forms/schematics/generate/elements/control.element.ts
  libs/forms/schematics/generate/elements/elements.ts
  libs/forms/schematics/generate/elements/form.element.ts
  libs/forms/schematics/generate/elements/group-control.element.ts
  libs/forms/schematics/generate/elements/input-control.element.ts
  libs/forms/schematics/generate/elements/select-control.element.ts
  libs/forms/schematics/generate/elements/types.ts
  libs/forms/schematics/generate/elements/validators/angular-validator.element.ts
  libs/forms/schematics/generate/elements/validators/max.element.ts
  libs/forms/schematics/generate/elements/validators/min.element.ts
  libs/forms/schematics/generate/elements/validators/pattern.element.ts
  libs/forms/schematics/generate/elements/validators/validator.element.ts
  libs/forms/schematics/generate/elements/validators/validators.ts
  libs/forms/schematics/generate/helpers/add-control-validator.spec.ts
  libs/forms/schematics/generate/helpers/add-control-validator.ts
  libs/forms/schematics/generate/helpers/add-to-array.ts
  libs/forms/schematics/generate/helpers/get-form-providers-source-file.ts
  libs/forms/schematics/generate/helpers/overwrite-decorator.ts
  libs/forms/schematics/generate/helpers/overwrite-property.ts
  libs/forms/tsconfig.schematics.json
Due: test

feat: update parser concept
  libs/xml-parser/CHANGELOG
  libs/xml-parser/decorators/src/lib/element-attribute.ts
  libs/xml-parser/decorators/src/lib/element-child.spec.ts
  libs/xml-parser/decorators/src/lib/element-child.ts
  libs/xml-parser/decorators/src/lib/element-children.ts
  libs/xml-parser/decorators/src/lib/element-clear-parser.ts
  libs/xml-parser/decorators/src/lib/element-extends.ts
  libs/xml-parser/decorators/src/lib/utilities.ts
  libs/xml-parser/decorators/src/public_api.ts
  libs/xml-parser/elements/src/lib/data-source.element.ts
  libs/xml-parser/elements/src/lib/definition.element.ts
  libs/xml-parser/elements/src/lib/option.element.spec.ts
  libs/xml-parser/elements/src/lib/option.element.ts
  libs/xml-parser/elements/src/public_api.ts
  libs/xml-parser/package.json
  libs/xml-parser/src/index.ts
  libs/xml-parser/src/lib/elements/parsed-element.ts
  libs/xml-parser/src/lib/xml-parser.service.spec.ts
  libs/xml-parser/src/lib/xml-parser.service.ts
  libs/xml-parser/testing/src/lib/testing-xml-parser-service.ts
Due: build, test

feat: add new form generator
  libs/forms/schematics/generate/index.ts
  libs/forms/schematics/generate/schema.d.ts
  libs/forms/schematics/generate/schema.json
Due: test

feat: add support for custom features
  libs/forms/schematics/generate/elements/elements.ts
  libs/forms/schematics/generate/elements/features/feature.element.ts
  libs/forms/schematics/generate/elements/features/features.ts
  libs/forms/schematics/generate/elements/form.element.ts
Due: test

fix: add control and feature wrappers
  libs/forms/schematics/generate/elements/form.element.ts
Due: test

fix: flat component creation
  libs/forms/schematics/generate/elements/form.element.ts
  libs/forms/schematics/generate/index.ts
Due: test

fix(schematics): streamline path creation
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/schematics/generate/index.ts
  libs/forms/schematics/generate/schema.d.ts
  libs/forms/schematics/generate/schema.json
Due: test

fix(schematics): form providers import path
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/schematics/generate/index.ts
Due: test

fix(InputClearButtonDirective): clear the value if the ngControl is not defined
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/src/lib/input-clear-button.directive.ts
Due: test

chore: update package json
  libs/material/table-system/package.json
Due: none

fix: export control actions file
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/src/index.ts
Due: build, test

fix(ControlErrorDirective): remove dependency to RxapFormControl
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/src/lib/control-error.directive.ts
  libs/material/form-system/src/lib/control-errors.directive.ts
Due: test

fix(FormDirective): fix initial form loading
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/src/lib/directives/form.directive.ts
Due: test

Path conditions:
  build: any of: libs/**/src/**
  test: any of: **/*.ts
