Repository rxap-mirror/packages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test

build:
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-build
  stage: build
  script: yarn nx run-many --target=pack --all --parallel --with-deps
  artifacts:
    expire_in: 1 day
    paths:
    - dist

test:
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-test
  stage: test
  coverage: /Statements\s*:\s*(\d+\.?\d*)%/
  script: yarn test:ci
  artifacts:
    expire_in: 1 day
    reports:
  ...

feat(config-service): add support for global static defaults and overwrites
  libs/config/src/lib/config.service.ts
Due: test

feat: add set object value method
  libs/utilities/src/index.ts
  libs/utilities/src/lib/set-object-value.spec.ts
  libs/utilities/src/lib/set-object-value.ts
Due: build, test

feat: add support for loading config params from url
  libs/config/src/lib/config.service.ts
Due: test

feat: add support to disable local storage config
  libs/config/src/lib/config.service.ts
Due: test

chore: lerna version
  libs/config/CHANGELOG.md
  libs/config/package.json
  libs/utilities/CHANGELOG.md
  libs/utilities/package.json
Due: none

fix: add withCredentials support
  libs/remote-method/http/src/lib/base-http.remote-method.ts
Due: test

chore: lerna version
  libs/config/CHANGELOG.md
  libs/config/package.json
  libs/directives/CHANGELOG.md
  libs/directives/package.json
  libs/forms/CHANGELOG.md
  libs/forms/package.json
  libs/material/form-system/CHANGELOG.md
  libs/material/form-system/package.json
  libs/remote-method/CHANGELOG.md
  libs/remote-method/package.json
  libs/utilities/CHANGELOG.md
  libs/utilities/package.json
Due: none

chore(deps): update dependency ts-morph to v8.2.0
  package.json
Due: none

chore: lerna version
  libs/material/table-system/CHANGELOG.md
  libs/material/table-system/package.json
Due: none

fix: forms import issue
  libs/material/table-system/package.json
  libs/material/table-system/src/lib/table-data-source.directive.ts
  libs/material/table-system/src/lib/table-filter/filter-header-row.directive.ts
Due: test

fix: update import paths
  libs/material/table-system/schematics/generate/elements/adapter.element.ts
  libs/material/table-system/schematics/generate/elements/features/action-buttons/action-buttons.element.ts
  libs/material/table-system/schematics/generate/elements/features/action-buttons/edit-action.element.ts
  libs/material/table-system/schematics/generate/elements/features/action-buttons/method-action.element.ts
  libs/material/table-system/schematics/generate/elements/features/column-menu.element.ts
  libs/material/table-system/schematics/generate/elements/features/create-button.element.ts
  libs/material/table-system/schematics/generate/elements/features/tree-table.element.ts
  libs/material/table-system/schematics/generate/elements/table.element.ts
Due: test

fix: open api generator
  libs/open-api/schematics/open-api/index.ts
Due: test

fix: refactor change detection
  libs/window-system/src/lib/default-window/default-window.component.ts
  libs/window-system/src/lib/window-content/window-content.component.ts
Due: test

chore: lerna version
  libs/remote-method/CHANGELOG.md
  libs/remote-method/package.json
  libs/window-system/CHANGELOG.md
  libs/window-system/package.json
Due: none

chore: add window testing
  apps/testing/src/app/app.component.ts
  apps/testing/src/app/app.module.ts
  apps/testing/src/app/inner/inner.component.css
  apps/testing/src/app/inner/inner.component.html
  apps/testing/src/app/inner/inner.component.ts
  apps/testing/src/scss/_theme.scss
Due: test

fix(ToggleSubject): bind next function to this
  libs/utilities/src/lib/toggle-subject.ts
Due: test

Path conditions:
  build: any of: libs/**/src/**
  test: any of: **/*.ts
