Repository rxap-mirror/packages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test

build:
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-build
  stage: build
  script: yarn nx run-many --target=pack --all --parallel --with-deps
  artifacts:
    expire_in: 1 day
    paths:
    - dist

test:
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-test
  stage: test
  coverage: /Statements\s*:\s*(\d+\.?\d*)%/
  script: yarn test:ci
  artifacts:
    expire_in: 1 day
    reports:
  ...

fix(WindowContainerComponent): fix detected footer template change
  libs/window-system/CHANGELOG
  libs/window-system/package.json
  libs/window-system/src/lib/window-container/window-container.component.html
  libs/window-system/src/lib/window-ref.ts
Due: test

fix(FormDirective): clone the current form value before passed to the submit logic
  libs/forms/src/lib/directives/form.directive.ts
Due: test

fix(RxapFormBuilder): change the injector constructor parameter as optional
  libs/forms/src/lib/form-builder.ts
Due: test

chore(forms): update version
  libs/forms/CHANGELOG
  libs/forms/package.json
Due: none

feat(RxapFormBuild): add support for injectable validators
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/src/lib/form-builder.ts
  libs/forms/src/lib/model.ts
Due: test

chore: update schematics
  .idea/vcs.xml
  package.json
  yarn.lock
Due: none

chore: update schematics
  package.json
  yarn.lock
Due: none

chore: add package rxap-material/form-system
  angular.json
  libs/material/form-system/CHANGELOG
  libs/material/form-system/README.md
  libs/material/form-system/jest.config.js
  libs/material/form-system/ng-package.json
  libs/material/form-system/package.json
  libs/material/form-system/src/index.ts
  libs/material/form-system/src/lib/material-form-system.module.ts
  libs/material/form-system/src/test-setup.ts
  libs/material/form-system/tsconfig.json
  libs/material/form-system/tsconfig.lib.json
  libs/material/form-system/tsconfig.lib.prod.json
  libs/material/form-system/tsconfig.spec.json
  libs/material/form-system/tslint.json
  nx.json
  tsconfig.base.json
Due: build, test

wip: add package rxap-material/form-system
  libs/material/form-system/src/lib/control-error.directive.ts
  libs/material/form-system/src/lib/control-errors.directive.ts
  libs/material/form-system/src/lib/material-form-system.module.ts
Due: test

feat: add ToOptionsFromObject and ToOptionsWithObject
  libs/utilities/CHANGELOG
  libs/utilities/package.json
  libs/utilities/src/index.ts
  libs/utilities/src/lib/options/to-options-from-object.ts
  libs/utilities/src/lib/options/to-options-with-object.ts
Due: build, test

feat: add getFromObjectFactory
  .idea/vcs.xml
  libs/utilities/CHANGELOG
  libs/utilities/package.json
  libs/utilities/src/lib/get-from-object.ts
Due: test

fix: (FormWindowService): define custom component
  libs/form-window-system/CHANGELOG
  libs/form-window-system/package.json
  libs/form-window-system/src/lib/form-window.service.ts
Due: test

fix(SchemaValidation): catch unresolvable openapi schema references
  libs/open-api/CHANGELOG
  libs/open-api/package.json
  libs/open-api/src/lib/schema-validation.mixin.ts
Due: test

fix(RxapFormBuild): throw if form definition can not be injected.
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/src/lib/form-builder.ts
Due: test

fix(FormWindowService): expose all WindowService options
  libs/form-window-system/CHANGELOG
  libs/form-window-system/package.json
  libs/form-window-system/src/lib/form-window.service.ts
  libs/form-window-system/src/lib/open-form.directive.ts
Due: test

fix(WindowConfig): add the option injectorName
  libs/window-system/CHANGELOG
  libs/window-system/package.json
  libs/window-system/src/lib/window-config.ts
  libs/window-system/src/lib/window.service.ts
Due: test

fix(FormWindowService): prevent custom window options overwrite
  libs/form-window-system/CHANGELOG
  libs/form-window-system/package.json
  libs/form-window-system/src/_index.scss
  libs/form-window-system/src/lib/form-window.service.ts
Due: build, test

doc: add todo remove template context Guard
  angular.json
  libs/remote-method/directive/src/lib/remote-method-template.directive.ts
Due: test

Path conditions:
  build: any of: libs/**/src/**
  test: any of: **/*.ts
