Repository rxap-mirror/packages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test

.gitlab-ci.yml:

image: node:lts

include:
- project: 'rxap/gitlab-ci'
  ref: stable
  file: '/templates/setup.yml'
- project: 'rxap/gitlab-ci'
  ref: stable
  file: '/pwa.yml'

variables:
  GIT_DEPTH: "3"
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: none

.cache:pull: &cache_pull
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull

stages:
- setup
- build
- test
- deploy
- e2e
- postdeploy
- generate
- trigger

generate:storybook:config:
  before_script:
  - rm .npmrc
  - npm install handlebars
  script: node tools/gitlab-ci-generator/storybook.js
  stage: generate
  needs: []
  artifacts:
    paths:
    - .storybook.gitlab-ci.yml
    expire_in: 1h
  rules:
  - if: '$DISABLE_LIBRARY_STORYBOOK'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always

trigger:build:storybook:
  stage: trigger
  needs:
  - generate:storybook:config
  rules:
  - if: '$DISABLE_LIBRARY_STORYBOOK'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always
  trigger:
    include:
    - artifact: .storybook.gitlab-ci.yml
      job: generate:storybook:config

generate:compodoc:config:
  before_script:
  - rm .npmrc
  - npm install handlebars
  script: node tools/gitlab-ci-generator/compodoc.js
  stage: generate
  needs: []
  artifacts:
    paths:
    - .compodoc.gitlab-ci.yml
    expire_in: 1h
  rules:
  - if: '$DISABLE_LIBRARY_COMPODOC'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always

trigger:build:compodoc:
  stage: trigger
  needs:
  - generate:compodoc:config
  rules:
  - if: '$DISABLE_LIBRARY_COMPODOC'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always
  trigger:
    include:
    - artifact: .compodoc.gitlab-ci.yml
      job: generate:compodoc:config

build:
  <<: *cache_pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-build
  stage: build
  script: yarn nx run-many --target=pack --all --parallel --with-deps
  rules:
  - changes:
    - libs/**/src/**
    when: on_success
  artifacts:
    expire_in: 1 day
    paths:
    - dist

test:
  <<: *cache_pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-test
  stage: test
  coverage: '/Statements\s*:\s*(\d+\.?\d*)%/'
  script: yarn test:ci
  rules:
  - changes:
    - "**/*.ts"
    when: on_success
  artifacts:
    expire_in: 1 day
    reports:
      cobertura: coverage/cobertura-coverage.xml
      junit: junit.xml
    paths:
    - coverage

#setup:generate:library:config:
#  before_script:
#  - rm .npmrc
#  - npm install handlebars @nrwl/workspace typescript @nrwl/cli
#  - yarn yarn nx print-affected
#  script: node tools/gitlab-ci-generator/library.js
#  stage: setup
#  needs: []
#  artifacts:
#    paths:
#    - .library.gitlab-ci.yml
#    expire_in: 1h
#  rules:
#  - if: '$DISABLE_LIBRARY'
#    when: never
#  - if: '$CI_COMMIT_REF_NAME == "master"'
#    changes:
#    - libs/**/*
#    when: always
#
#trigger:build:library:
#  stage: trigger
#  needs:
#  - setup:generate:library:config
#  rules:
#  - if: '$DISABLE_LIBRARY'
#    when: never
#  - if: '$CI_COMMIT_REF_NAME == "master"'
#    changes:
#    - libs/**/*
#    when: always
#  trigger:
#    include:
#    - artifact: .library.gitlab-ci.yml
#      job: setup:generate:library:config

fix: streamline static support
  libs/open-api/CHANGELOG
  libs/open-api/data-source/src/lib/open-api.data-source.ts
  libs/open-api/package.json
Due: test

fix(schematics): add support for allowResubmit
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/features/window-footer-controls.element.ts
Due: test

feat(FormControlsComponent): add support for multiple submit value
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/src/lib/form-controls/form-controls.component.ts
Due: test

feat(Method): add support for Observable return type
  libs/utilities/CHANGELOG
  libs/utilities/package.json
  libs/utilities/src/lib/method.ts
Due: test

feat(WindowRef): extends Subject
  libs/window-system/CHANGELOG
  libs/window-system/package.json
  libs/window-system/src/lib/window-ref.ts
  libs/window-system/src/lib/window-task-bar/window-task/window-task.component.ts
  libs/window-system/src/lib/window-tool-bar/window-tool-bar.component.html
  libs/window-system/src/lib/window.service.ts
Due: test

feat: add support for new WindowRef class
  libs/form-window-system/CHANGELOG
  libs/form-window-system/package.json
  libs/form-window-system/src/lib/close-window-after-submit.directive.ts
  libs/form-window-system/src/lib/form-window-ref.ts
  libs/form-window-system/src/lib/form-window.service.ts
  libs/form-window-system/src/lib/open-form-window.method.ts
  libs/form-window-system/src/lib/open-form.directive.ts
Due: test

feat(FormDirectives): only use direct host for submit, load and definition providers
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/src/lib/directives/form.directive.ts
Due: test

fix(FormDirectives): add form provider clear
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/src/lib/directives/form.directive.ts
Due: test

feat(schematics): add support for new window ref class
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/features/window-footer-controls.element.ts
Due: test

chore: merge 10.x.x
  yarn.lock
Due: none

chore: add larna support
  .gitignore
  README.md.handlebars
  lerna.json
  package.json
Due: none

chore: add larna support
  yarn.lock
Due: none

chore: add dependencies updater
  tools/update-dependencies.js
Due: none

feat: revert add support for Observable return type
  libs/utilities/CHANGELOG
  libs/utilities/package.json
  libs/utilities/src/lib/method.ts
Due: test

chore: add missing export
  libs/forms/src/index.ts
Due: build, test

chore: remove @rxap-plugin/app-engine
  angular.json
  libs/plugin/app-engine/.gitignore
  libs/plugin/app-engine/LICENSE
  libs/plugin/app-engine/README.md
  libs/plugin/app-engine/builders.json
  libs/plugin/app-engine/collection.json
  libs/plugin/app-engine/jest.config.js
  libs/plugin/app-engine/package.json
  libs/plugin/app-engine/src/builders/deploy/builder.spec.ts
  libs/plugin/app-engine/src/builders/deploy/builder.ts
  libs/plugin/app-engine/src/builders/deploy/copy-file.ts
  libs/plugin/app-engine/src/builders/deploy/gcloud.ts
  libs/plugin/app-engine/src/builders/deploy/nx.ts
  libs/plugin/app-engine/src/builders/deploy/schema.d.ts
  libs/plugin/app-engine/src/builders/deploy/schema.json
  libs/plugin/app-engine/src/index.ts
  libs/plugin/app-engine/src/schematics/add/files/app.yaml
  libs/plugin/app-engine/src/schematics/add/schema.d.ts
  libs/plugin/app-engine/src/schematics/add/schema.json
  libs/plugin/app-engine/src/schematics/add/schematic.spec.ts
  libs/plugin/app-engine/src/schematics/add/schematic.ts
  libs/plugin/app-engine/tsconfig.json
  libs/plugin/app-engine/tsconfig.lib.json
  libs/plugin/app-engine/tsconfig.spec.json
  libs/plugin/app-engine/tslint.json
  nx.json
Due: build, test
