Repository rxap-mirror/packages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test

.gitlab-ci.yml:

image: node:lts

include:
- project: 'rxap/gitlab-ci'
  ref: stable
  file: '/templates/setup.yml'
- project: 'rxap/gitlab-ci'
  ref: stable
  file: '/pwa.yml'

variables:
  GIT_DEPTH: "3"
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: none

.cache:pull: &cache_pull
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull

stages:
- setup
- build
- test
- deploy
- e2e
- postdeploy
- generate
- trigger

generate:storybook:config:
  before_script:
  - rm .npmrc
  - npm install handlebars
  script: node tools/gitlab-ci-generator/storybook.js
  stage: generate
  needs: []
  artifacts:
    paths:
    - .storybook.gitlab-ci.yml
    expire_in: 1h
  rules:
  - if: '$DISABLE_LIBRARY_STORYBOOK'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always

trigger:build:storybook:
  stage: trigger
  needs:
  - generate:storybook:config
  rules:
  - if: '$DISABLE_LIBRARY_STORYBOOK'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always
  trigger:
    include:
    - artifact: .storybook.gitlab-ci.yml
      job: generate:storybook:config

generate:compodoc:config:
  before_script:
  - rm .npmrc
  - npm install handlebars
  script: node tools/gitlab-ci-generator/compodoc.js
  stage: generate
  needs: []
  artifacts:
    paths:
    - .compodoc.gitlab-ci.yml
    expire_in: 1h
  rules:
  - if: '$DISABLE_LIBRARY_COMPODOC'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always

trigger:build:compodoc:
  stage: trigger
  needs:
  - generate:compodoc:config
  rules:
  - if: '$DISABLE_LIBRARY_COMPODOC'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always
  trigger:
    include:
    - artifact: .compodoc.gitlab-ci.yml
      job: generate:compodoc:config

build:
  <<: *cache_pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-build
  stage: build
  script: yarn nx run-many --target=pack --all --parallel --with-deps
  rules:
  - changes:
    - libs/**/src/**
    when: on_success
  artifacts:
    expire_in: 1 day
    paths:
    - dist

test:
  <<: *cache_pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-test
  stage: test
  coverage: '/Statements\s*:\s*(\d+\.?\d*)%/'
  script: yarn test:ci
  rules:
  - changes:
    - "**/*.ts"
    when: on_success
  artifacts:
    expire_in: 1 day
    reports:
      cobertura: coverage/cobertura-coverage.xml
      junit: junit.xml
    paths:
    - coverage

#setup:generate:library:config:
#  before_script:
#  - rm .npmrc
#  - npm install handlebars @nrwl/workspace typescript @nrwl/cli
#  - yarn yarn nx print-affected
#  script: node tools/gitlab-ci-generator/library.js
#  stage: setup
#  needs: []
#  artifacts:
#    paths:
#    - .library.gitlab-ci.yml
#    expire_in: 1h
#  rules:
#  - if: '$DISABLE_LIBRARY'
#    when: never
#  - if: '$CI_COMMIT_REF_NAME == "master"'
#    changes:
#    - libs/**/*
#    when: always
#
#trigger:build:library:
#  stage: trigger
#  needs:
#  - setup:generate:library:config
#  rules:
#  - if: '$DISABLE_LIBRARY'
#    when: never
#  - if: '$CI_COMMIT_REF_NAME == "master"'
#    changes:
#    - libs/**/*
#    when: always
#  trigger:
#    include:
#    - artifact: .library.gitlab-ci.yml
#      job: setup:generate:library:config

fix(FormDirective): use patch instead of set for form initialisation
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/src/lib/directives/form.directive.ts
Due: test

feat: add FooterDirective
  libs/layout/CHANGELOG
  libs/layout/package.json
  libs/layout/src/index.ts
  libs/layout/src/lib/footer.directive.ts
Due: build, test

fix(schematics): export AddDir helper
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/schematics/generate/index.ts
Due: test

feat: add ToMethod
  libs/utilities/CHANGELOG
  libs/utilities/package.json
  libs/utilities/src/lib/method.ts
Due: test

fix(schematics): add flat option
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/schematics/generate/index.ts
  libs/forms/schematics/generate/schema.d.ts
  libs/forms/schematics/generate/schema.json
Due: test

fix: mv parameters member to abstract table data source
  libs/data-source/CHANGELOG
  libs/data-source/http/table/src/lib/http-table.data-source.ts
  libs/data-source/package.json
  libs/data-source/table/src/lib/abstract-table.data-source.ts
  libs/data-source/table/src/lib/dynamic-table.data-source.ts
  libs/data-source/table/src/lib/table.data-source.ts
  libs/data-source/table/src/lib/tokens.ts
Due: test

fix: prevent child reorder on extend child types
  libs/xml-parser/CHANGELOG
  libs/xml-parser/decorators/src/lib/element-children.ts
  libs/xml-parser/package.json
Due: test

fix: use default value if child text content is undefined
  libs/xml-parser/CHANGELOG
  libs/xml-parser/decorators/src/lib/element-child-text-content.ts
  libs/xml-parser/package.json
  libs/xml-parser/src/lib/element.ts
Due: test

feat: ElementRecord
  libs/xml-parser/CHANGELOG
  libs/xml-parser/decorators/src/lib/element-record.ts
  libs/xml-parser/decorators/src/public_api.ts
  libs/xml-parser/package.json
Due: build, test

fix(schematics): use schematics utilities package
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/schematics/generate/elements/control.element.ts
  libs/forms/schematics/generate/elements/form.element.ts
  libs/forms/schematics/generate/elements/group-control.element.ts
  libs/forms/schematics/generate/elements/select-control.element.ts
  libs/forms/schematics/generate/elements/validators/validator.element.ts
  libs/forms/schematics/generate/index.ts
  libs/forms/tsconfig.schematics.json
Due: test

feat(schematics): generator schematic
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/collection.json
  libs/material/form-system/schematics/generate/elements/column.element.ts
  libs/material/form-system/schematics/generate/elements/controls/checkbox-control.element.ts
  libs/material/form-system/schematics/generate/elements/controls/component-control.element.ts
  libs/material/form-system/schematics/generate/elements/controls/control.element.ts
  libs/material/form-system/schematics/generate/elements/controls/controls.ts
  libs/material/form-system/schematics/generate/elements/controls/errors.element.ts
  libs/material/form-system/schematics/generate/elements/controls/form-field.element.ts
  libs/material/form-system/schematics/generate/elements/controls/input-control.element.ts
  libs/material/form-system/schematics/generate/elements/controls/password-control.element.ts
  libs/material/form-system/schematics/generate/elements/controls/prefix.element.ts
  libs/material/form-system/schematics/generate/elements/controls/select-control.element.ts
  libs/material/form-system/schematics/generate/elements/controls/textarea-control.element.ts
  libs/material/form-system/schematics/generate/elements/elements.ts
  libs/material/form-system/schematics/generate/elements/form.element.ts
  libs/material/form-system/schematics/generate/elements/group.element.ts
  libs/material/form-system/schematics/generate/elements/node.element.ts
  libs/material/form-system/schematics/generate/elements/row.element.ts
  libs/material/form-system/schematics/generate/elements/tab.element.ts
  libs/material/form-system/schematics/generate/index.ts
  libs/material/form-system/schematics/generate/schema.d.ts
  libs/material/form-system/schematics/generate/schema.json
  libs/material/form-system/tsconfig.schematics.json
Due: test

feat(schematics): generator schematic
  libs/material/table-system/CHANGELOG
  libs/material/table-system/package.json
  libs/material/table-system/schematics/collection.json
  libs/material/table-system/schematics/generate/elements/adapter.element.ts
  libs/material/table-system/schematics/generate/elements/columns/boolean-column.element.ts
  libs/material/table-system/schematics/generate/elements/columns/column.element.ts
  libs/material/table-system/schematics/generate/elements/columns/columns.ts
  libs/material/table-system/schematics/generate/elements/columns/date-column.element.ts
  libs/material/table-system/schematics/generate/elements/columns/filters/filter.element.ts
  libs/material/table-system/schematics/generate/elements/columns/filters/filters.ts
  libs/material/table-system/schematics/generate/elements/elements.ts
  libs/material/table-system/schematics/generate/elements/features/action-buttons/action-button.element.ts
  libs/material/table-system/schematics/generate/elements/features/action-buttons/action-buttons.element.ts
  libs/material/table-system/schematics/generate/elements/features/action-buttons/actions-buttons.ts
  libs/material/table-system/schematics/generate/elements/features/action-buttons/archive-action.element.ts
  libs/material/table-system/schematics/generate/elements/features/action-buttons/delete-action.element.ts
  libs/material/table-system/schematics/generate/elements/features/action-buttons/edit-action.element.ts
  libs/material/table-system/schematics/generate/elements/features/action-buttons/method-action.element.ts
  libs/material/table-system/schematics/generate/elements/features/action-buttons/restore-action.element.ts
  libs/material/table-system/schematics/generate/elements/features/action-buttons/view-action.element.ts
  libs/material/table-system/schematics/generate/elements/features/column-menu.element.ts
  libs/material/table-system/schematics/generate/elements/features/create-button.element.ts
  libs/material/table-system/schematics/generate/elements/features/feature.element.ts
  libs/material/table-system/schematics/generate/elements/features/features.ts
  libs/material/table-system/schematics/generate/elements/features/navigate-back.element.ts
  libs/material/table-system/schematics/generate/elements/features/paginator.element.ts
  libs/material/table-system/schematics/generate/elements/features/selectable.element.ts
  libs/material/table-system/schematics/generate/elements/features/sort.element.ts
  libs/material/table-system/schematics/generate/elements/features/tree-table.element.ts
  libs/material/table-system/schematics/generate/elements/methods/method.element.ts
  libs/material/table-system/schematics/generate/elements/methods/methods.ts
  libs/material/table-system/schematics/generate/elements/methods/open-api-remote-method.element.ts
  libs/material/table-system/schematics/generate/elements/router-link.element.ts
  libs/material/table-system/schematics/generate/elements/table.element.ts
  libs/material/table-system/schematics/generate/files/__name@dasherize__-table.component.html.template
  libs/material/table-system/schematics/generate/index.ts
  libs/material/table-system/tsconfig.schematics.json
Due: test

fix: update peer deps
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
Due: none

feat: add xml parser hooks
  libs/xml-parser/CHANGELOG
  libs/xml-parser/package.json
  libs/xml-parser/src/index.ts
  libs/xml-parser/src/lib/element-factory.ts
  libs/xml-parser/src/lib/elements/parsed-element.ts
  libs/xml-parser/src/lib/xml-parser.service.ts
Due: build, test

fix(schematics): use form id as default name
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/index.ts
  libs/material/form-system/schematics/generate/schema.d.ts
  libs/material/form-system/schematics/generate/schema.json
Due: test

wip: commit missing files
  libs/material/table-system/schematics/generate/schema.d.ts
  libs/material/table-system/schematics/generate/schema.json
Due: test

chore: add scopes
  .idea/scopes/Material_Form_System_Schematics.xml
Due: none

refactor: add type
  libs/form-system/src/lib/decorators/use-data-source.ts
Due: test

fix: update peer deps
  libs/schematics/utilities/CHANGELOG
  libs/schematics/utilities/package.json
  libs/schematics/utilities/src/index.ts
  libs/schematics/utilities/src/lib/handel-template.ts
Due: build, test
