Repository rxap-mirror/packages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test

build:
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-build
  stage: build
  script: yarn nx run-many --target=pack --all --parallel --with-deps
  artifacts:
    expire_in: 1 day
    paths:
    - dist

test:
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-test
  stage: test
  coverage: /Statements\s*:\s*(\d+\.?\d*)%/
  script: yarn test:ci
  artifacts:
    expire_in: 1 day
    reports:
  ...

fix: replace all rxjs operators first() with take(1)
  libs/authentication/CHANGELOG
  libs/authentication/components/src/lib/reset-password/reset-password.form.ts
  libs/authentication/package.json
  libs/authentication/src/lib/authentication.guard.ts
  libs/components/CHANGELOG
  libs/components/package.json
  libs/components/src/lib/confirm/confirm.directive.ts
  libs/data-source/CHANGELOG
  libs/data-source/directive/src/lib/data-source-collection.directive.ts
  libs/data-source/http/src/lib/http.data-source.ts
  libs/data-source/package.json
  libs/data-source/src/lib/base.data-source.ts
  libs/dialog/CHANGELOG
  libs/dialog/package.json
  libs/dialog/src/lib/confirm-dialog/confirm-dialog.service.ts
  libs/directives/CHANGELOG
  libs/directives/material/tabs/src/lib/scroll-to-tab-on-focus.directive.ts
  libs/directives/package.json
  libs/firebase/CHANGELOG
  libs/firebase/auth/src/lib/identity-platform.service.ts
  libs/firebase/package.json
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/src/lib/directives/form-submit.directive.ts
  libs/life-cycle/CHANGELOG
  libs/life-cycle/package.json
  libs/life-cycle/src/lib/life-cycle.service.ts
  libs/open-api/CHANGELOG
  libs/open-api/data-source/src/lib/open-api.data-source.ts
  libs/open-api/package.json
  libs/open-api/remote-method/src/lib/open-api.remote-method.ts
  libs/remote-method/CHANGELOG
  libs/remote-method/directive/src/lib/remote-method-template-collection.directive.ts
  libs/remote-method/package.json
  libs/service-worker/CHANGELOG
  libs/service-worker/package.json
  libs/service-worker/src/lib/prompt-update/prompt-update.service.ts
  libs/window-system/CHANGELOG
  libs/window-system/package.json
  libs/window-system/src/lib/window.service.ts
Due: test

feat(pwa): add i18n support
  apps/pwa/src/polyfills.ts
Due: test

wip: add icons to navigation
  apps/pwa/src/app/app-routing.module.ts
Due: test

feat(layout): add collapse side navigation button
  libs/layout/src/lib/layout/layout.component.html
  libs/layout/src/lib/layout/layout.component.scss
  libs/layout/src/lib/navigation/navigation-item/navigation-item.component.html
  libs/layout/src/lib/navigation/navigation-item/navigation-item.component.scss
  libs/layout/src/lib/navigation/navigation-item/navigation-item.component.ts
  libs/layout/src/lib/sidenav/sidenav.component.html
  libs/layout/src/lib/sidenav/sidenav.component.module.ts
  libs/layout/src/lib/sidenav/sidenav.component.scss
  libs/layout/src/lib/sidenav/sidenav.component.service.ts
  libs/layout/src/lib/sidenav/sidenav.component.ts
Due: test

feat(layout): add collapse side navigation
  libs/layout/src/lib/navigation/_navigation.component.theme.scss
  libs/layout/src/lib/navigation/navigation-item/_navigation-item.component.theme.scss
  libs/layout/src/lib/navigation/navigation-item/navigation-item.component.html
  libs/layout/src/lib/navigation/navigation-item/navigation-item.component.scss
  libs/layout/src/lib/navigation/navigation-item/navigation-item.component.ts
  libs/layout/src/lib/navigation/navigation.component.html
  libs/layout/src/lib/navigation/navigation.component.scss
  libs/layout/src/lib/navigation/navigation.component.ts
  libs/layout/src/lib/sidenav/sidenav.component.html
  libs/layout/src/lib/sidenav/sidenav.component.scss
Due: test

feat(layout): add collapse side navigation
  apps/pwa/src/app/app-routing.module.ts
  libs/layout/CHANGELOG
  libs/layout/package.json
  libs/layout/src/lib/navigation/navigation-item/_navigation-item.component.theme.scss
  libs/layout/src/lib/navigation/navigation-item/navigation-item.component.html
  libs/layout/src/lib/navigation/navigation-item/navigation-item.component.scss
  libs/layout/src/lib/navigation/navigation-item/navigation-item.component.ts
  libs/layout/src/lib/navigation/navigation.component.ts
Due: test

fix(schema-validation): build query parameter
  libs/open-api/CHANGELOG
  libs/open-api/package.json
  libs/open-api/src/lib/schema-validation.mixin.ts
Due: test

fix(InputSelectOptions): add change detection after render
  libs/form-system/CHANGELOG
  libs/form-system/package.json
  libs/form-system/src/lib/directives/input-select-options.directive.ts
Due: test

fix: add missing data grid theme
  libs/data-grid/CHANGELOG
  libs/data-grid/package.json
  libs/data-grid/src/_index.scss
  libs/data-grid/src/lib/readonly/_data-grid-readonly.component.theme.scss
  libs/data-grid/src/lib/readonly/data-grid-readonly.component.html
  libs/data-grid/src/lib/readonly/data-grid-readonly.component.ts
Due: build, test

fix: add missing data grid theme
  libs/data-grid/src/lib/data-grid-row-def.directive.ts
Due: test

fix(config): only use production config if available
  libs/plugin/library-publish/CHANGELOG
  libs/plugin/library-publish/package.json
  libs/plugin/library-publish/src/schematics/config/schematic.ts
Due: test

fix(builder): add support for none angular projects
  libs/plugin/library-publish/CHANGELOG
  libs/plugin/library-publish/package.json
  libs/plugin/library-publish/src/builders/publish/builder.ts
Due: test

fix(config): add the prefix variable to the template context
  libs/plugin/scss-bundle/CHANGELOG
  libs/plugin/scss-bundle/package.json
  libs/plugin/scss-bundle/src/schematics/config/schematic.ts
Due: test

chore: add publish target
  angular.json
Due: none

fix(config): remove the usage of hasOwnProperty
  libs/plugin/library-publish/CHANGELOG
  libs/plugin/library-publish/package.json
  libs/plugin/library-publish/src/schematics/config/schematic.ts
Due: test

chore: update angular build config
  angular.json
  package.json
  yarn.lock
Due: none

docs: mark form control error directive as deprecated
  libs/forms/src/lib/directives/form-control-error.directive.ts
Due: test

feat: add the rxap-material/form-system package
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/collection.json
  libs/material/form-system/schematics/index.ts
  libs/material/form-system/schematics/migration.json
  libs/material/form-system/src/_index.scss
  libs/material/form-system/src/index.ts
  libs/material/form-system/src/lib/input-clear-button.directive.ts
  libs/material/form-system/src/lib/material-form-system.module.ts
  libs/material/form-system/tsconfig.schematics.json
Due: build, test

fix(RxapFormControl): check for error change also on status change
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/src/lib/control-actions.ts
Due: test

fix(ControlErrorDirective): add change detection after template rendering
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/src/lib/control-error.directive.ts
  libs/material/form-system/src/lib/control-errors.directive.ts
Due: test

Path conditions:
  build: any of: libs/**/src/**
  test: any of: **/*.ts
