Repository rxap-mirror/packages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test

.gitlab-ci.yml:

image: node:lts

include:
- project: 'rxap/gitlab-ci'
  ref: stable
  file: '/templates/setup.yml'
- project: 'rxap/gitlab-ci'
  ref: stable
  file: '/pwa.yml'

variables:
  GIT_DEPTH: "3"
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: none

.cache:pull: &cache_pull
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull

stages:
- setup
- build
- test
- deploy
- e2e
- postdeploy
- generate
- trigger

generate:storybook:config:
  before_script:
  - rm .npmrc
  - npm install handlebars
  script: node tools/gitlab-ci-generator/storybook.js
  stage: generate
  needs: []
  artifacts:
    paths:
    - .storybook.gitlab-ci.yml
    expire_in: 1h
  rules:
  - if: '$DISABLE_LIBRARY_STORYBOOK'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always

trigger:build:storybook:
  stage: trigger
  needs:
  - generate:storybook:config
  rules:
  - if: '$DISABLE_LIBRARY_STORYBOOK'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always
  trigger:
    include:
    - artifact: .storybook.gitlab-ci.yml
      job: generate:storybook:config

generate:compodoc:config:
  before_script:
  - rm .npmrc
  - npm install handlebars
  script: node tools/gitlab-ci-generator/compodoc.js
  stage: generate
  needs: []
  artifacts:
    paths:
    - .compodoc.gitlab-ci.yml
    expire_in: 1h
  rules:
  - if: '$DISABLE_LIBRARY_COMPODOC'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always

trigger:build:compodoc:
  stage: trigger
  needs:
  - generate:compodoc:config
  rules:
  - if: '$DISABLE_LIBRARY_COMPODOC'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always
  trigger:
    include:
    - artifact: .compodoc.gitlab-ci.yml
      job: generate:compodoc:config

build:
  <<: *cache_pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-build
  stage: build
  script: yarn nx run-many --target=pack --all --parallel --with-deps
  rules:
  - changes:
    - libs/**/src/**
    when: on_success
  artifacts:
    expire_in: 1 day
    paths:
    - dist

test:
  <<: *cache_pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-test
  stage: test
  coverage: '/Statements\s*:\s*(\d+\.?\d*)%/'
  script: yarn test:ci
  rules:
  - changes:
    - "**/*.ts"
    when: on_success
  artifacts:
    expire_in: 1 day
    reports:
      cobertura: coverage/cobertura-coverage.xml
      junit: junit.xml
    paths:
    - coverage

#setup:generate:library:config:
#  before_script:
#  - rm .npmrc
#  - npm install handlebars @nrwl/workspace typescript @nrwl/cli
#  - yarn yarn nx print-affected
#  script: node tools/gitlab-ci-generator/library.js
#  stage: setup
#  needs: []
#  artifacts:
#    paths:
#    - .library.gitlab-ci.yml
#    expire_in: 1h
#  rules:
#  - if: '$DISABLE_LIBRARY'
#    when: never
#  - if: '$CI_COMMIT_REF_NAME == "master"'
#    changes:
#    - libs/**/*
#    when: always
#
#trigger:build:library:
#  stage: trigger
#  needs:
#  - setup:generate:library:config
#  rules:
#  - if: '$DISABLE_LIBRARY'
#    when: never
#  - if: '$CI_COMMIT_REF_NAME == "master"'
#    changes:
#    - libs/**/*
#    when: always
#  trigger:
#    include:
#    - artifact: .library.gitlab-ci.yml
#      job: setup:generate:library:config

fix(ToggleSubject): bind next function to this
  libs/utilities/src/lib/toggle-subject.ts
Due: test

feat: add window loading support
  libs/window-system/src/index.ts
  libs/window-system/src/lib/window-config.ts
  libs/window-system/src/lib/window-container/window-container.component.html
  libs/window-system/src/lib/window-container/window-container.component.ts
  libs/window-system/src/lib/window-content/window-content.component.ts
  libs/window-system/src/lib/window-instance.service.ts
  libs/window-system/src/lib/window-system.module.ts
  libs/window-system/src/lib/window.service.ts
Due: build, test

chore: lerna version
  libs/utilities/CHANGELOG.md
  libs/utilities/package.json
  libs/window-system/CHANGELOG.md
  libs/window-system/package.json
Due: none

feat: add loading indicator service support
  libs/forms/src/lib/directives/form.directive.ts
  libs/services/src/index.ts
  libs/services/src/lib/loading-indicator.service.ts
  libs/window-system/src/index.ts
  libs/window-system/src/lib/window-container/window-container.component.ts
  libs/window-system/src/lib/window-content/window-content.component.ts
  libs/window-system/src/lib/window.service.ts
Due: build, test

chore: lerna version
  libs/forms/CHANGELOG.md
  libs/forms/package.json
  libs/services/CHANGELOG.md
  libs/services/package.json
  libs/window-system/CHANGELOG.md
  libs/window-system/package.json
Due: none

fix: run loading task detected
  libs/forms/src/lib/directives/form.directive.ts
  libs/window-system/src/lib/window-content/window-content.component.ts
Due: test

chore: lerna version
  libs/forms/CHANGELOG.md
  libs/forms/package.json
  libs/window-system/CHANGELOG.md
  libs/window-system/package.json
Due: none

revert: fix: run loading task detected
  libs/forms/src/lib/directives/form.directive.ts
Due: test

fix: stream line loading
  libs/form-window-system/src/lib/form-window.service.ts
  libs/services/src/lib/loading-indicator.service.ts
  libs/window-system/src/lib/window-content/window-content.component.ts
Due: test

chore: update yarn lock
  yarn.lock
Due: none

chore: lerna version
  libs/form-window-system/CHANGELOG.md
  libs/form-window-system/package.json
  libs/forms/CHANGELOG.md
  libs/forms/package.json
  libs/services/CHANGELOG.md
  libs/services/package.json
  libs/utilities/CHANGELOG.md
  libs/utilities/package.json
  libs/window-system/CHANGELOG.md
  libs/window-system/package.json
Due: none

ci: add missing git config script
  .gitlab-ci.yml
Due: none

chore: update package versions
  libs/authentication/package.json
  libs/components/package.json
  libs/config/package.json
  libs/contenteditable/package.json
  libs/data-grid/package.json
  libs/data-source/package.json
  libs/definition/package.json
  libs/dialog/package.json
  libs/directives/package.json
  libs/firebase/package.json
  libs/form-system/package.json
  libs/layout/package.json
  libs/life-cycle/package.json
  libs/material/form-system/package.json
  libs/material/table-system/package.json
  libs/mixin/package.json
  libs/open-api/package.json
  libs/pipes/package.json
  libs/recorder/package.json
  libs/remote-method/package.json
  libs/schematics/utilities/package.json
  libs/service-worker/package.json
  libs/table-system/package.json
  libs/tree/package.json
  libs/xml-parser/package.json
Due: none

test: remove unused projects
  jest.config.js
Due: none

revert: fix: zone isolation
  libs/window-system/src/lib/window-content/window-content.component.ts
Due: test

chore: lerna version
  libs/form-window-system/CHANGELOG.md
  libs/form-window-system/package.json
  libs/forms/CHANGELOG.md
  libs/forms/package.json
  libs/services/CHANGELOG.md
  libs/services/package.json
  libs/window-system/CHANGELOG.md
  libs/window-system/package.json
Due: none

feat: add the reused hook to the form definition
  libs/forms/src/lib/model.ts
  libs/material/form-system/src/lib/form-controls/form-controls.component.ts
Due: test

chore: lerna version
  libs/forms/CHANGELOG.md
  libs/forms/package.json
  libs/material/form-system/CHANGELOG.md
  libs/material/form-system/package.json
Due: none

feat(window-service): add support for default window settings
  libs/window-system/src/lib/tokens.ts
  libs/window-system/src/lib/window.service.ts
Due: test

chore: lerna version
  libs/window-system/CHANGELOG.md
  libs/window-system/package.json
Due: none
