Repository rxap-mirror/packages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test

.gitlab-ci.yml:

image: node:lts

include:
- project: 'rxap/gitlab-ci'
  ref: stable
  file: '/templates/setup.yml'
- project: 'rxap/gitlab-ci'
  ref: stable
  file: '/pwa.yml'

variables:
  GIT_DEPTH: "3"
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: none

.cache:pull: &cache_pull
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull

stages:
- setup
- build
- test
- deploy
- e2e
- postdeploy
- generate
- trigger

generate:storybook:config:
  before_script:
  - rm .npmrc
  - npm install handlebars
  script: node tools/gitlab-ci-generator/storybook.js
  stage: generate
  needs: []
  artifacts:
    paths:
    - .storybook.gitlab-ci.yml
    expire_in: 1h
  rules:
  - if: '$DISABLE_LIBRARY_STORYBOOK'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always

trigger:build:storybook:
  stage: trigger
  needs:
  - generate:storybook:config
  rules:
  - if: '$DISABLE_LIBRARY_STORYBOOK'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always
  trigger:
    include:
    - artifact: .storybook.gitlab-ci.yml
      job: generate:storybook:config

generate:compodoc:config:
  before_script:
  - rm .npmrc
  - npm install handlebars
  script: node tools/gitlab-ci-generator/compodoc.js
  stage: generate
  needs: []
  artifacts:
    paths:
    - .compodoc.gitlab-ci.yml
    expire_in: 1h
  rules:
  - if: '$DISABLE_LIBRARY_COMPODOC'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always

trigger:build:compodoc:
  stage: trigger
  needs:
  - generate:compodoc:config
  rules:
  - if: '$DISABLE_LIBRARY_COMPODOC'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always
  trigger:
    include:
    - artifact: .compodoc.gitlab-ci.yml
      job: generate:compodoc:config

build:
  <<: *cache_pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-build
  stage: build
  script: yarn nx run-many --target=pack --all --parallel --with-deps
  rules:
  - changes:
    - libs/**/src/**
    when: on_success
  artifacts:
    expire_in: 1 day
    paths:
    - dist

test:
  <<: *cache_pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-test
  stage: test
  coverage: '/Statements\s*:\s*(\d+\.?\d*)%/'
  script: yarn test:ci
  rules:
  - changes:
    - "**/*.ts"
    when: on_success
  artifacts:
    expire_in: 1 day
    reports:
      cobertura: coverage/cobertura-coverage.xml
      junit: junit.xml
    paths:
    - coverage

#setup:generate:library:config:
#  before_script:
#  - rm .npmrc
#  - npm install handlebars @nrwl/workspace typescript @nrwl/cli
#  - yarn yarn nx print-affected
#  script: node tools/gitlab-ci-generator/library.js
#  stage: setup
#  needs: []
#  artifacts:
#    paths:
#    - .library.gitlab-ci.yml
#    expire_in: 1h
#  rules:
#  - if: '$DISABLE_LIBRARY'
#    when: never
#  - if: '$CI_COMMIT_REF_NAME == "master"'
#    changes:
#    - libs/**/*
#    when: always
#
#trigger:build:library:
#  stage: trigger
#  needs:
#  - setup:generate:library:config
#  rules:
#  - if: '$DISABLE_LIBRARY'
#    when: never
#  - if: '$CI_COMMIT_REF_NAME == "master"'
#    changes:
#    - libs/**/*
#    when: always
#  trigger:
#    include:
#    - artifact: .library.gitlab-ci.yml
#      job: setup:generate:library:config

feat: add ApplyTsMorphProject
  libs/schematics/utilities/CHANGELOG
  libs/schematics/utilities/package.json
  libs/schematics/utilities/src/index.ts
  libs/schematics/utilities/src/lib/apply-ts-morph-project.ts
  libs/schematics/utilities/src/lib/node-factory.ts
Due: build, test

feat: add AutoImport
  libs/schematics/utilities/CHANGELOG
  libs/schematics/utilities/package.json
  libs/schematics/utilities/src/index.ts
  libs/schematics/utilities/src/lib/add-dir.ts
  libs/schematics/utilities/src/lib/auto-import.ts
Due: build, test

fix(AutoImport): scope the auto fix paths
  libs/schematics/utilities/CHANGELOG
  libs/schematics/utilities/package.json
  libs/schematics/utilities/src/lib/add-dir.ts
  libs/schematics/utilities/src/lib/auto-import.ts
Due: test

fix(schematics): generate execution
  libs/material/table-system/CHANGELOG
  libs/material/table-system/package.json
  libs/material/table-system/schematics/generate/elements/columns/column.element.ts
  libs/material/table-system/schematics/generate/elements/features/column-menu.element.ts
  libs/material/table-system/schematics/generate/elements/features/feature.element.ts
  libs/material/table-system/schematics/generate/elements/methods/method.element.ts
  libs/material/table-system/schematics/generate/elements/table.element.ts
  libs/material/table-system/schematics/generate/index.ts
Due: test

feat: add OpenFormWindowMethod
  libs/form-window-system/CHANGELOG
  libs/form-window-system/package.json
  libs/form-window-system/src/index.ts
  libs/form-window-system/src/lib/open-form-window.method.ts
Due: build, test

fix(ElementFactory): use the tag name
  libs/xml-parser/CHANGELOG
  libs/xml-parser/package.json
  libs/xml-parser/src/lib/element-factory.ts
Due: test

fix: expose form directives with own modules
  libs/form-system/CHANGELOG
  libs/form-system/package.json
  libs/form-system/src/lib/directives/control-hide-show.directive.ts
  libs/form-system/src/lib/directives/form-directives.module.ts
  libs/form-system/src/lib/directives/input-select-options.directive.ts
Due: test

refactor
  libs/material/table-system/package.json
Due: none

chore: add the folder /templates
  .gitignore
Due: none

fix(schematics): add missing imports
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/controls/checkbox-control.element.ts
  libs/material/form-system/schematics/generate/index.ts
Due: test

fix(schematics): add custom edit loader
  libs/material/table-system/CHANGELOG
  libs/material/table-system/package.json
  libs/material/table-system/schematics/generate/elements/features/action-buttons/action-button.element.ts
  libs/material/table-system/schematics/generate/elements/features/action-buttons/action-buttons.element.ts
  libs/material/table-system/schematics/generate/elements/features/action-buttons/edit-action.element.ts
  libs/material/table-system/schematics/generate/index.ts
Due: test

fix(schematics): use open api remote method element
  libs/material/table-system/CHANGELOG
  libs/material/table-system/package.json
  libs/material/table-system/schematics/generate/elements/features/action-buttons/edit-action.element.ts
Due: test

fix(schematics): remove debug code
  libs/material/table-system/CHANGELOG
  libs/material/table-system/package.json
  libs/material/table-system/schematics/generate/index.ts
Due: test

fix(schematics): rn custom loader provider
  libs/material/table-system/CHANGELOG
  libs/material/table-system/package.json
  libs/material/table-system/schematics/generate/elements/features/action-buttons/edit-action.element.ts
Due: test

fix(OpenFormWindowMethod): fix generic type
  libs/form-window-system/CHANGELOG
  libs/form-window-system/package.json
  libs/form-window-system/src/lib/open-form-window.method.ts
Due: test

fix(schematics): fix form controls imports
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/features/footer-controls.element.ts
  libs/material/form-system/schematics/generate/elements/features/window-footer-controls.element.ts
Due: test

fix(schematics): add missing imports
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/card.element.ts
  libs/material/form-system/schematics/generate/elements/controls/control.element.ts
  libs/material/form-system/schematics/generate/elements/controls/form-field/form-field.element.ts
  libs/material/form-system/schematics/generate/elements/controls/password-control.element.ts
  libs/material/form-system/schematics/generate/elements/features/window-footer-controls.element.ts
Due: test

feat(OpenFormWindowMethod): resolve if the form window is closed
  libs/form-window-system/CHANGELOG
  libs/form-window-system/package.json
  libs/form-window-system/src/lib/open-form-window.method.ts
Due: test

feat(FormControlsComponent): pass the form result to the window close event
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/features/window-footer-controls.element.ts
  libs/material/form-system/src/lib/form-controls/form-controls.component.ts
Due: test
