Repository rxap-mirror/packages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test

build:
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-build
  stage: build
  script: yarn nx run-many --target=pack --all --parallel --with-deps
  artifacts:
    expire_in: 1 day
    paths:
    - dist

test:
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-test
  stage: test
  coverage: /Statements\s*:\s*(\d+\.?\d*)%/
  script: yarn test:ci
  artifacts:
    expire_in: 1 day
    reports:
  ...

feat: WindowTitleDirective
  libs/window-system/CHANGELOG
  libs/window-system/package.json
  libs/window-system/src/index.ts
  libs/window-system/src/lib/window-container/window-container.component.ts
  libs/window-system/src/lib/window-ref.ts
  libs/window-system/src/lib/window-title.directive.ts
  libs/window-system/src/lib/window-tool-bar/window-tool-bar.component.html
  libs/window-system/src/lib/window-tool-bar/window-tool-bar.component.ts
Due: build, test

feat(schematics): add WindowTitleElement
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/features/features.ts
  libs/material/form-system/schematics/generate/elements/features/window-title.element.ts
Due: test

fix: Custom window title render
  libs/window-system/CHANGELOG
  libs/window-system/package.json
  libs/window-system/src/lib/window-tool-bar/window-tool-bar.component.html
Due: none

fix(schematics): adapt to custom window title render
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/features/window-title.element.ts
Due: test

feat: add RequiredDirective
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/controls/form-field/input-control.element.ts
  libs/material/form-system/schematics/generate/elements/controls/form-field/select-control.element.ts
  libs/material/form-system/schematics/generate/elements/controls/form-field/textarea-control.element.ts
  libs/material/form-system/src/index.ts
  libs/material/form-system/src/lib/material-form-system.module.ts
  libs/material/form-system/src/lib/required.directive.ts
Due: build, test

feat(RxapFormBuilder): save if the current control has an required validator
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/src/lib/form-builder.ts
Due: test

feat: add RXAP_MATERIAL_TABLE_SYSTEM_SELECT_ROW_OPTIONS
  libs/material/table-system/CHANGELOG
  libs/material/table-system/package.json
  libs/material/table-system/schematics/generate/elements/features/selectable.element.ts
  libs/material/table-system/src/index.ts
  libs/material/table-system/src/lib/select-row/select-row.options.ts
  libs/material/table-system/src/lib/select-row/select-row.service.ts
  libs/material/table-system/src/lib/select-row/tokens.ts
Due: build, test

feat(PrefixElement): add support for custom attributes
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/controls/form-field/prefix.element.ts
Due: test

feat: add ElementChildRawContent
  libs/xml-parser/CHANGELOG
  libs/xml-parser/decorators/src/lib/element-child-raw-content.ts
  libs/xml-parser/decorators/src/public_api.ts
  libs/xml-parser/package.json
  libs/xml-parser/src/lib/element.ts
Due: build, test

fix: extract raw node content
  libs/xml-parser/CHANGELOG
  libs/xml-parser/package.json
  libs/xml-parser/src/lib/element.ts
Due: test

fix: only parse files
  libs/material/table-system/CHANGELOG
  libs/material/table-system/package.json
  libs/material/table-system/schematics/generate/index.ts
Due: test

fix: default table id/name
  libs/material/table-system/CHANGELOG
  libs/material/table-system/package.json
  libs/material/table-system/schematics/generate/elements/table.element.ts
  libs/material/table-system/schematics/generate/index.ts
Due: test

fix: extend log information
  libs/schematics/utilities/CHANGELOG
  libs/schematics/utilities/package.json
  libs/schematics/utilities/src/lib/apply-ts-morph-project.ts
Due: test

fix: default path definition
  libs/material/table-system/CHANGELOG
  libs/material/table-system/package.json
  libs/material/table-system/schematics/generate/index.ts
Due: test

fix(PipeDataSource): call the connect for each pipe.connect
  libs/data-source/CHANGELOG
  libs/data-source/package.json
  libs/data-source/src/lib/pipe.data-source.ts
Due: test

fix(OpenApiDataSource): use default parameters if not defined.
  libs/open-api/CHANGELOG
  libs/open-api/data-source/src/lib/open-api.data-source.ts
  libs/open-api/data-source/table/src/lib/open-api-table.data-source.ts
  libs/open-api/package.json
Due: test

fix(OpenApiDataSource): use the empty view change value if empty
  libs/open-api/CHANGELOG
  libs/open-api/data-source/src/lib/open-api.data-source.ts
  libs/open-api/package.json
  libs/open-api/src/lib/schema-validation.mixin.ts
Due: test

fix(TableDataSource): disable loading if connection resolved
  libs/data-source/CHANGELOG
  libs/data-source/package.json
  libs/data-source/table/src/lib/table.data-source.ts
Due: test

fix(SelectRow): change to toggle method
  libs/material/table-system/CHANGELOG
  libs/material/table-system/package.json
  libs/material/table-system/src/lib/select-row/checkbox-header-cell/checkbox-header-cell.component.html
  libs/material/table-system/src/lib/select-row/checkbox-header-cell/checkbox-header-cell.component.ts
Due: test

fix(schematics): use new material table system package
  libs/material/table-system/CHANGELOG
  libs/material/table-system/package.json
  libs/material/table-system/schematics/generate/elements/features/selectable.element.ts
Due: test

Path conditions:
  build: any of: libs/**/src/**
  test: any of: **/*.ts
