Repository rxap-mirror/packages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test

build:
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-build
  stage: build
  script: yarn nx run-many --target=pack --all --parallel --with-deps
  artifacts:
    expire_in: 1 day
    paths:
    - dist

test:
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-test
  stage: test
  coverage: /Statements\s*:\s*(\d+\.?\d*)%/
  script: yarn test:ci
  artifacts:
    expire_in: 1 day
    reports:
  ...

fix(schematics): set the schematic project
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/schematics/generate/index.ts
Due: test

feat: add FixMissingImports
  libs/schematics/utilities/CHANGELOG
  libs/schematics/utilities/package.json
  libs/schematics/utilities/src/index.ts
  libs/schematics/utilities/src/lib/auto-import.ts
  libs/schematics/utilities/src/lib/fix-missing-imports.ts
Due: build, test

feat: add ModuleElement
  libs/schematics/utilities/CHANGELOG
  libs/schematics/utilities/package.json
  libs/schematics/utilities/src/index.ts
  libs/schematics/utilities/src/lib/add-ng-module-import.ts
  libs/schematics/utilities/src/lib/elements/module.element.ts
Due: build, test

feat(schematics): add support for modules
  libs/material/table-system/CHANGELOG
  libs/material/table-system/package.json
  libs/material/table-system/schematics/generate/elements/features/action-buttons/edit-action.element.ts
  libs/material/table-system/schematics/generate/elements/features/create-button.element.ts
Due: test

fix: i18n support
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/card.element.ts
  libs/material/form-system/schematics/generate/elements/controls/checkbox-control.element.ts
  libs/material/form-system/schematics/generate/elements/controls/component-control.element.ts
  libs/material/form-system/schematics/generate/elements/controls/form-field/form-field.element.ts
  libs/material/form-system/schematics/generate/elements/controls/form-field/input-control.element.ts
  libs/material/form-system/schematics/generate/elements/controls/form-field/textarea-control.element.ts
  libs/material/form-system/src/lib/form-controls/form-controls.component.html
Due: test

feat: add Method elements
  libs/schematics/utilities/CHANGELOG
  libs/schematics/utilities/package.json
  libs/schematics/utilities/src/index.ts
  libs/schematics/utilities/src/lib/elements/methods/method.element.ts
  libs/schematics/utilities/src/lib/elements/methods/methods.ts
  libs/schematics/utilities/src/lib/elements/methods/open-api-remote-method.element.ts
Due: build, test

fix(schematics): use external method elements
  libs/material/table-system/CHANGELOG
  libs/material/table-system/package.json
  libs/material/table-system/schematics/generate/elements/elements.ts
  libs/material/table-system/schematics/generate/elements/features/action-buttons/edit-action.element.ts
  libs/material/table-system/schematics/generate/elements/features/action-buttons/method-action.element.ts
  libs/material/table-system/schematics/generate/elements/features/create-button.element.ts
  libs/material/table-system/schematics/generate/elements/features/tree-table.element.ts
  libs/material/table-system/schematics/generate/elements/methods/method.element.ts
  libs/material/table-system/schematics/generate/elements/methods/methods.ts
  libs/material/table-system/schematics/generate/elements/methods/open-api-remote-method.element.ts
  libs/material/table-system/schematics/generate/elements/table.element.ts
Due: test

feat: add utility functions
  libs/schematics/utilities/CHANGELOG
  libs/schematics/utilities/package.json
  libs/schematics/utilities/src/index.ts
  libs/schematics/utilities/src/lib/add-ng-module-provider.ts
  libs/schematics/utilities/src/lib/add-provider-to-array.ts
  libs/schematics/utilities/src/lib/add-to-array.ts
  libs/schematics/utilities/src/lib/add-variable-provider.ts
  libs/schematics/utilities/src/lib/coerce-variable-declaration.ts
  libs/schematics/utilities/src/lib/get-coerce-array-literal-form-object-literal.ts
  libs/schematics/utilities/src/lib/get-variable-declaration.ts
Due: build, test

feat(schematics): use form component providers
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/schematics/generate/elements/control.element.ts
  libs/forms/schematics/generate/elements/elements.ts
  libs/forms/schematics/generate/elements/features/feature.element.ts
  libs/forms/schematics/generate/elements/form.element.ts
  libs/forms/schematics/generate/elements/select-control.element.ts
  libs/forms/schematics/generate/elements/types.ts
  libs/forms/schematics/generate/elements/validators/validator.element.ts
Due: test

fix(schematics): footer controls generate
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/features/footer-controls.element.ts
Due: test

fix(schematics): extend flex layout support
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/column.element.ts
  libs/material/form-system/schematics/generate/elements/row.element.ts
Due: test

feat: add AddComponentProvider
  libs/schematics/utilities/CHANGELOG
  libs/schematics/utilities/package.json
  libs/schematics/utilities/src/index.ts
  libs/schematics/utilities/src/lib/add-component-provider.ts
Due: build, test

fix(AddComponentProvider): add support for writer functions
  libs/schematics/utilities/CHANGELOG
  libs/schematics/utilities/package.json
  libs/schematics/utilities/src/lib/add-provider-to-array.ts
  libs/schematics/utilities/src/lib/provider-object.ts
Due: test

feat: add FormFieldDefaultOptionsElement
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/features/features.ts
  libs/material/form-system/schematics/generate/elements/features/form-field-default-options.element.ts
Due: test

feat: add FormFieldDefaultOptionsElement
  libs/material/form-system/schematics/generate/elements/features/form-field-default-options.element.ts
Due: test

feat: add IsEqualToDirective
  libs/form-system/CHANGELOG
  libs/form-system/package.json
  libs/form-system/src/index.ts
  libs/form-system/src/lib/validators/is-equal-to.ts
Due: build, test

fix(schematics): add is equal validator import
  libs/material/form-system/CHANGELOG
  libs/material/form-system/package.json
  libs/material/form-system/schematics/generate/elements/controls/password-control.element.ts
Due: test

fix(schematics): add is equal validator import
  libs/material/form-system/package.json
Due: none

fix(schematics): add load method support
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/schematics/generate/elements/form.element.ts
Due: test

fix(schematics): add support for edit submit handlers
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/schematics/generate/elements/form.element.ts
Due: test

Path conditions:
  build: any of: libs/**/src/**
  test: any of: **/*.ts
