Repository rxap-mirror/packages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test

.gitlab-ci.yml:

image: node:lts

include:
- project: 'rxap/gitlab-ci'
  ref: stable
  file: '/templates/setup.yml'
- project: 'rxap/gitlab-ci'
  ref: stable
  file: '/pwa.yml'

variables:
  GIT_DEPTH: "3"
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: none

.cache:pull: &cache_pull
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull

stages:
- setup
- build
- test
- deploy
- e2e
- postdeploy
- generate
- trigger

generate:storybook:config:
  before_script:
  - rm .npmrc
  - npm install handlebars
  script: node tools/gitlab-ci-generator/storybook.js
  stage: generate
  needs: []
  artifacts:
    paths:
    - .storybook.gitlab-ci.yml
    expire_in: 1h
  rules:
  - if: '$DISABLE_LIBRARY_STORYBOOK'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always

trigger:build:storybook:
  stage: trigger
  needs:
  - generate:storybook:config
  rules:
  - if: '$DISABLE_LIBRARY_STORYBOOK'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always
  trigger:
    include:
    - artifact: .storybook.gitlab-ci.yml
      job: generate:storybook:config

generate:compodoc:config:
  before_script:
  - rm .npmrc
  - npm install handlebars
  script: node tools/gitlab-ci-generator/compodoc.js
  stage: generate
  needs: []
  artifacts:
    paths:
    - .compodoc.gitlab-ci.yml
    expire_in: 1h
  rules:
  - if: '$DISABLE_LIBRARY_COMPODOC'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always

trigger:build:compodoc:
  stage: trigger
  needs:
  - generate:compodoc:config
  rules:
  - if: '$DISABLE_LIBRARY_COMPODOC'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always
  trigger:
    include:
    - artifact: .compodoc.gitlab-ci.yml
      job: generate:compodoc:config

build:
  <<: *cache_pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-build
  stage: build
  script: yarn nx run-many --target=pack --all --parallel --with-deps
  rules:
  - changes:
    - libs/**/src/**
    when: on_success
  artifacts:
    expire_in: 1 day
    paths:
    - dist

test:
  <<: *cache_pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-test
  stage: test
  coverage: '/Statements\s*:\s*(\d+\.?\d*)%/'
  script: yarn test:ci
  rules:
  - changes:
    - "**/*.ts"
    when: on_success
  artifacts:
    expire_in: 1 day
    reports:
      cobertura: coverage/cobertura-coverage.xml
      junit: junit.xml
    paths:
    - coverage

#setup:generate:library:config:
#  before_script:
#  - rm .npmrc
#  - npm install handlebars @nrwl/workspace typescript @nrwl/cli
#  - yarn yarn nx print-affected
#  script: node tools/gitlab-ci-generator/library.js
#  stage: setup
#  needs: []
#  artifacts:
#    paths:
#    - .library.gitlab-ci.yml
#    expire_in: 1h
#  rules:
#  - if: '$DISABLE_LIBRARY'
#    when: never
#  - if: '$CI_COMMIT_REF_NAME == "master"'
#    changes:
#    - libs/**/*
#    when: always
#
#trigger:build:library:
#  stage: trigger
#  needs:
#  - setup:generate:library:config
#  rules:
#  - if: '$DISABLE_LIBRARY'
#    when: never
#  - if: '$CI_COMMIT_REF_NAME == "master"'
#    changes:
#    - libs/**/*
#    when: always
#  trigger:
#    include:
#    - artifact: .library.gitlab-ci.yml
#      job: setup:generate:library:config

chore: remove @rxap-plugin/app-engine
  angular.json
  libs/plugin/app-engine/.gitignore
  libs/plugin/app-engine/LICENSE
  libs/plugin/app-engine/README.md
  libs/plugin/app-engine/builders.json
  libs/plugin/app-engine/collection.json
  libs/plugin/app-engine/jest.config.js
  libs/plugin/app-engine/package.json
  libs/plugin/app-engine/src/builders/deploy/builder.spec.ts
  libs/plugin/app-engine/src/builders/deploy/builder.ts
  libs/plugin/app-engine/src/builders/deploy/copy-file.ts
  libs/plugin/app-engine/src/builders/deploy/gcloud.ts
  libs/plugin/app-engine/src/builders/deploy/nx.ts
  libs/plugin/app-engine/src/builders/deploy/schema.d.ts
  libs/plugin/app-engine/src/builders/deploy/schema.json
  libs/plugin/app-engine/src/index.ts
  libs/plugin/app-engine/src/schematics/add/files/app.yaml
  libs/plugin/app-engine/src/schematics/add/schema.d.ts
  libs/plugin/app-engine/src/schematics/add/schema.json
  libs/plugin/app-engine/src/schematics/add/schematic.spec.ts
  libs/plugin/app-engine/src/schematics/add/schematic.ts
  libs/plugin/app-engine/tsconfig.json
  libs/plugin/app-engine/tsconfig.lib.json
  libs/plugin/app-engine/tsconfig.spec.json
  libs/plugin/app-engine/tslint.json
  nx.json
Due: build, test

chore: fix package name
  libs/plugin/kaniko/package.json
Due: none

chore: fix package name
  libs/plugin/kaniko/README.md
  libs/plugin/kaniko/package.json
Due: none

chore: fix package dep updater
  tools/update-dependencies.js
Due: none

chore: allow any scope for packages
  .commitlintrc.js
Due: none

chore: add lerna package.json script
  package.json
Due: none

chore: fix local package versions
  libs/authentication/package.json
  libs/components/package.json
  libs/config/package.json
  libs/contenteditable/package.json
  libs/data-grid/package.json
  libs/data-source/package.json
  libs/definition/package.json
  libs/dialog/package.json
  libs/directives/package.json
  libs/firebase/package.json
  libs/form-system/package.json
  libs/form-window-system/package.json
  libs/forms/package.json
  libs/layout/package.json
  libs/life-cycle/package.json
  libs/mixin/package.json
  libs/open-api/package.json
  libs/pipes/package.json
  libs/recorder/package.json
  libs/remote-method/package.json
  libs/service-worker/package.json
  libs/services/package.json
  libs/table-system/package.json
  libs/tree/package.json
Due: none

chore: merge 10.x.x
  yarn.lock
Due: none

chore: update angular to 11.0.5
  package.json
  yarn.lock
Due: none

chore: update angular material to 11.0.3
  package.json
  yarn.lock
Due: none

chore: mv packages
  package.json
Due: none

chore: fix build
  libs/remote-method/http/src/lib/base-http.remote-method.ts
Due: test

fix(IconDirective): update to new MatIcon API
  libs/directives/material/icon/src/lib/icon.directive.ts
Due: test

fix(RxapFormControl): update to new Angular FormControl API
  libs/forms/src/lib/form-control.ts
Due: test

chore: add major-release guide and script
  Guide.md
  tools/major-release.sh
Due: none

chore: update project local peer dependencies
  libs/authentication/package.json
  libs/components/package.json
  libs/config/package.json
  libs/contenteditable/package.json
  libs/data-grid/package.json
  libs/data-source/package.json
  libs/definition/package.json
  libs/dialog/package.json
  libs/directives/package.json
  libs/firebase/package.json
  libs/form-system/package.json
  libs/form-window-system/package.json
  libs/forms/package.json
  libs/layout/package.json
  libs/life-cycle/package.json
  libs/mixin/package.json
  libs/open-api/package.json
  libs/pipes/package.json
  libs/recorder/package.json
  libs/remote-method/package.json
  libs/service-worker/package.json
  libs/services/package.json
  libs/table-system/package.json
  libs/tree/package.json
Due: none

chore: add major-release guide and script
  tools/major-release.sh
Due: none

test: check if the url property is a function
  libs/open-api/data-source/src/lib/open-api-data-source.loader.spec.ts
Due: test

fix(schematics): add missing properties key to the root schema.json
  libs/open-api/schematics/open-api/schema.json
Due: none
