Repository rxap-mirror/packages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test

.gitlab-ci.yml:

image: node:lts

include:
- project: 'rxap/gitlab-ci'
  ref: stable
  file: '/templates/setup.yml'
- project: 'rxap/gitlab-ci'
  ref: stable
  file: '/pwa.yml'

variables:
  GIT_DEPTH: "3"
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: none

.cache:pull: &cache_pull
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull

stages:
- setup
- build
- test
- deploy
- e2e
- postdeploy
- generate
- trigger

generate:storybook:config:
  before_script:
  - rm .npmrc
  - npm install handlebars
  script: node tools/gitlab-ci-generator/storybook.js
  stage: generate
  needs: []
  artifacts:
    paths:
    - .storybook.gitlab-ci.yml
    expire_in: 1h
  rules:
  - if: '$DISABLE_LIBRARY_STORYBOOK'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always

trigger:build:storybook:
  stage: trigger
  needs:
  - generate:storybook:config
  rules:
  - if: '$DISABLE_LIBRARY_STORYBOOK'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always
  trigger:
    include:
    - artifact: .storybook.gitlab-ci.yml
      job: generate:storybook:config

generate:compodoc:config:
  before_script:
  - rm .npmrc
  - npm install handlebars
  script: node tools/gitlab-ci-generator/compodoc.js
  stage: generate
  needs: []
  artifacts:
    paths:
    - .compodoc.gitlab-ci.yml
    expire_in: 1h
  rules:
  - if: '$DISABLE_LIBRARY_COMPODOC'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always

trigger:build:compodoc:
  stage: trigger
  needs:
  - generate:compodoc:config
  rules:
  - if: '$DISABLE_LIBRARY_COMPODOC'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always
  trigger:
    include:
    - artifact: .compodoc.gitlab-ci.yml
      job: generate:compodoc:config

build:
  <<: *cache_pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-build
  stage: build
  script: yarn nx run-many --target=pack --all --parallel --with-deps
  rules:
  - changes:
    - libs/**/src/**
    when: on_success
  artifacts:
    expire_in: 1 day
    paths:
    - dist

test:
  <<: *cache_pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-test
  stage: test
  coverage: '/Statements\s*:\s*(\d+\.?\d*)%/'
  script: yarn test:ci
  rules:
  - changes:
    - "**/*.ts"
    when: on_success
  artifacts:
    expire_in: 1 day
    reports:
      cobertura: coverage/cobertura-coverage.xml
      junit: junit.xml
    paths:
    - coverage

#setup:generate:library:config:
#  before_script:
#  - rm .npmrc
#  - npm install handlebars @nrwl/workspace typescript @nrwl/cli
#  - yarn yarn nx print-affected
#  script: node tools/gitlab-ci-generator/library.js
#  stage: setup
#  needs: []
#  artifacts:
#    paths:
#    - .library.gitlab-ci.yml
#    expire_in: 1h
#  rules:
#  - if: '$DISABLE_LIBRARY'
#    when: never
#  - if: '$CI_COMMIT_REF_NAME == "master"'
#    changes:
#    - libs/**/*
#    when: always
#
#trigger:build:library:
#  stage: trigger
#  needs:
#  - setup:generate:library:config
#  rules:
#  - if: '$DISABLE_LIBRARY'
#    when: never
#  - if: '$CI_COMMIT_REF_NAME == "master"'
#    changes:
#    - libs/**/*
#    when: always
#  trigger:
#    include:
#    - artifact: .library.gitlab-ci.yml
#      job: setup:generate:library:config

fix(schematics): add missing properties key to the root schema.json
  libs/open-api/schematics/open-api/schema.json
Due: none

chore: remove test and tsconfig mention of the package app-engine
  jest.config.js
  tsconfig.base.json
Due: none

chore: update package group
  libs/across-tabs/package.json
  libs/window-system/package.json
  libs/xml-parser/package.json
Due: none

fix: add custom i18n support
  libs/material/form-system/schematics/generate/elements/card.element.ts
Due: test

chore: update version updater
  tools/update-dependencies.js
Due: none

chore: update angular.json config
  angular.json
Due: none

chore: update packages
  .npmrc
  package.json
  yarn.lock
Due: none

chore: update readme
  README.md
  README.md.handlebars
Due: none

chore: remove postinstall ngcc script
  package.json
Due: none

chore: add value
  libs/form-system/src/lib/error.ts
Due: test

chore: add value2
  libs/form-system/src/lib/error.ts
Due: test

chore: add test
  libs/forms/src/index.ts
Due: build, test

chore: add test2
  libs/forms/src/index.ts
Due: build, test

ci: add ci script
  .gitlab-ci.yml
Due: none

chore: update readme
  README.md
  README.md.handlebars
  tools/readme-generator/index.js
Due: none

chore: update readme
  .prettierignore
  README.md
  README.md.handlebars
Due: none
