Repository rxap-mirror/packages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test

.gitlab-ci.yml:

image: node:lts

include:
- project: 'rxap/gitlab-ci'
  ref: stable
  file: '/templates/setup.yml'
- project: 'rxap/gitlab-ci'
  ref: stable
  file: '/pwa.yml'

variables:
  GIT_DEPTH: "3"
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: none

.cache:pull: &cache_pull
  cache:
    key:
      files:
      - yarn.lock
    paths:
    - node_modules/
    policy: pull

stages:
- setup
- build
- test
- deploy
- e2e
- postdeploy
- generate
- trigger

generate:storybook:config:
  before_script:
  - rm .npmrc
  - npm install handlebars
  script: node tools/gitlab-ci-generator/storybook.js
  stage: generate
  needs: []
  artifacts:
    paths:
    - .storybook.gitlab-ci.yml
    expire_in: 1h
  rules:
  - if: '$DISABLE_LIBRARY_STORYBOOK'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always

trigger:build:storybook:
  stage: trigger
  needs:
  - generate:storybook:config
  rules:
  - if: '$DISABLE_LIBRARY_STORYBOOK'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always
  trigger:
    include:
    - artifact: .storybook.gitlab-ci.yml
      job: generate:storybook:config

generate:compodoc:config:
  before_script:
  - rm .npmrc
  - npm install handlebars
  script: node tools/gitlab-ci-generator/compodoc.js
  stage: generate
  needs: []
  artifacts:
    paths:
    - .compodoc.gitlab-ci.yml
    expire_in: 1h
  rules:
  - if: '$DISABLE_LIBRARY_COMPODOC'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always

trigger:build:compodoc:
  stage: trigger
  needs:
  - generate:compodoc:config
  rules:
  - if: '$DISABLE_LIBRARY_COMPODOC'
    when: never
  - if: '$CI_COMMIT_REF_NAME == "master"'
    when: always
  trigger:
    include:
    - artifact: .compodoc.gitlab-ci.yml
      job: generate:compodoc:config

build:
  <<: *cache_pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-build
  stage: build
  script: yarn nx run-many --target=pack --all --parallel --with-deps
  rules:
  - changes:
    - libs/**/src/**
    when: on_success
  artifacts:
    expire_in: 1 day
    paths:
    - dist

test:
  <<: *cache_pull
  tags:
  - nvm
  image: registry.gitlab.com/rxap/gitlab-ci/angular-test
  stage: test
  coverage: '/Statements\s*:\s*(\d+\.?\d*)%/'
  script: yarn test:ci
  rules:
  - changes:
    - "**/*.ts"
    when: on_success
  artifacts:
    expire_in: 1 day
    reports:
      cobertura: coverage/cobertura-coverage.xml
      junit: junit.xml
    paths:
    - coverage

#setup:generate:library:config:
#  before_script:
#  - rm .npmrc
#  - npm install handlebars @nrwl/workspace typescript @nrwl/cli
#  - yarn yarn nx print-affected
#  script: node tools/gitlab-ci-generator/library.js
#  stage: setup
#  needs: []
#  artifacts:
#    paths:
#    - .library.gitlab-ci.yml
#    expire_in: 1h
#  rules:
#  - if: '$DISABLE_LIBRARY'
#    when: never
#  - if: '$CI_COMMIT_REF_NAME == "master"'
#    changes:
#    - libs/**/*
#    when: always
#
#trigger:build:library:
#  stage: trigger
#  needs:
#  - setup:generate:library:config
#  rules:
#  - if: '$DISABLE_LIBRARY'
#    when: never
#  - if: '$CI_COMMIT_REF_NAME == "master"'
#    changes:
#    - libs/**/*
#    when: always
#  trigger:
#    include:
#    - artifact: .library.gitlab-ci.yml
#      job: setup:generate:library:config

feat: type support
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/schematics/generate/elements/control.element.ts
  libs/forms/schematics/generate/elements/form.element.ts
Due: test

feat: extract the attached ref
  libs/window-system/CHANGELOG
  libs/window-system/package.json
  libs/window-system/src/lib/window-content/window-content.component.ts
Due: test

fix: table directive parameters input
  libs/material/table-system/CHANGELOG
  libs/material/table-system/package.json
  libs/material/table-system/schematics/generate/elements/table.element.ts
Due: test

fix: add support for i18n options
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/schematics/generate/elements/control.element.ts
  libs/forms/schematics/generate/elements/form.element.ts
  libs/forms/schematics/generate/elements/group-control.element.ts
  libs/forms/schematics/generate/elements/select-control.element.ts
Due: test

fix: add support for i18n options
  libs/utilities/CHANGELOG
  libs/utilities/package.json
  libs/utilities/src/lib/helpers.ts
  libs/xml-parser/CHANGELOG
  libs/xml-parser/elements/src/lib/option.element.ts
  libs/xml-parser/package.json
Due: test

fix: detect changes after window creation
  libs/form-window-system/CHANGELOG
  libs/form-window-system/package.json
  libs/form-window-system/src/lib/form-window.service.ts
Due: test

feat: add support for custom th and td
  libs/data-grid/CHANGELOG
  libs/data-grid/package.json
  libs/data-grid/src/lib/readonly/data-grid-readonly.component.html
Due: none

fix: add default td and th
  libs/data-grid/CHANGELOG
  libs/data-grid/package.json
  libs/data-grid/src/lib/readonly/data-grid-readonly.component.html
Due: none

feat: support for a edit data grid
  libs/data-grid/CHANGELOG
  libs/data-grid/package.json
  libs/data-grid/src/index.ts
  libs/data-grid/src/lib/data-grid-cell-def.directive.ts
  libs/data-grid/src/lib/data-grid-edit-cell-def.directive.ts
  libs/data-grid/src/lib/data-grid-header-cell-def.directive.ts
  libs/data-grid/src/lib/data-grid-row-def.directive.ts
  libs/data-grid/src/lib/data-grid.component.module.ts
  libs/data-grid/src/lib/readonly/data-grid-readonly.component.ts
Due: build, test

fix: add support form initial
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/src/lib/directives/form.directive.ts
Due: test

feat: support for the new footer service concept
  libs/layout/CHANGELOG
  libs/layout/package.json
  libs/layout/src/lib/layout/layout.component.service.ts
  libs/services/CHANGELOG
  libs/services/package.json
  libs/services/src/lib/footer.service.ts
Due: test

feat(schematics): generate a form builder provider
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/schematics/generate/elements/form.element.ts
Due: test

fix: unused model and tokens
  libs/data-grid/CHANGELOG
  libs/data-grid/package.json
  libs/data-grid/src/index.ts
  libs/data-grid/src/lib/model.ts
  libs/data-grid/src/lib/token.ts
Due: build, test

fix(schematics): form provider variable names
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/schematics/generate/elements/form.element.ts
Due: test

fix(FormDirective): add support for form definition builder
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/src/lib/directives/form.directive.ts
Due: test

fix(FormDirective): fix form definition builder
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/src/lib/directives/form.directive.ts
Due: test

feat(FormDirective): add submit method input
  libs/forms/CHANGELOG
  libs/forms/package.json
  libs/forms/src/lib/directives/form.directive.ts
Due: test

feat(MethodElement): add support for custom methods
  libs/schematics/utilities/CHANGELOG
  libs/schematics/utilities/package.json
  libs/schematics/utilities/src/lib/add-component-animations.spec.ts
  libs/schematics/utilities/src/lib/elements/methods/method.element.ts
Due: test

fix(schematics): add support for custom methods
  libs/forms/CHANGELOG
  libs/forms/package.json
Due: none

fix(MethodElement): add support for custom methods
  libs/schematics/utilities/CHANGELOG
  libs/schematics/utilities/package.json
  libs/schematics/utilities/src/lib/elements/methods/method.element.ts
Due: test
